%{--<select class="selectpicker" data-live-search="true" id="clientSelector" onchange="updatePickedClient()">--}%
    %{--<g:each in="${clients}" var="client">--}%
        %{--<option id=client value=client/>--}%
    %{--</g:each>--}%
%{--</option>--}%
%{--<asset:javascript src="jquery-2.2.0.min.js"/>--}%

%{--<asset:stylesheet src="bootstrap-select.min.css"/>--}%
%{--<asset:javascript src="bootstrap-select.min.js"/>--}%

