
body {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 800px;
    margin: 0 auto;
    padding: 15px;
    background: #CCC;
    overflow: hidden;
}

#fix-wrap {
    float: left;
    width: 170px;
    height: 173px;
    margin: 0 15px 15px 25px;
}

#pagegraphic {
    position: fixed;
    width: 170px;
    height: 173px;
    z-index: 1; /*set this lower than the scrolling #content*/
    background: lime;
}

#content {
    position: relative;
    z-index: 2; /*layer scrolling content above fixed div*/
    overflow: hidden; /*stop from wrapping under float*/
    background: #EEF;
}
